.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

table {
  margin: 20px auto;
}

table,
th,
td {
  border: 2px solid black;
  border-collapse: collapse;
  text-align: left;
  padding-right: 10px;
}

.header {
  display: flex;
  flex-wrap: wrap ;
  padding: 10px 20px;
  justify-content: space-around;
}

.header ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.header ul li {
  cursor: pointer;
  font-weight: bold;
  font-family: inherit;
}

.Content {
  display: flex;
  flex-wrap: wrap;
  padding: 10px 20px;
  height: 400px;
  justify-content: space-around;
}