*{
    margin: 0;
    padding: 0;
}
.Header .part-1 {
    display: flex;
    background: blue;
    padding: 0px;
    align-items: center;
}

.Header .logo img {
    height: 9px;
    width: 33px;
    margin: 0px 8px;
}

.Header .drop-down input {
    height: 6px;
    width: 90%;
}

.Header .membership {
    display: flex;
    font-size: 5px;
    background: darkblue;
    height: 9px;
    border: none;
    border-radius: 2px;
    padding: 2px;
    color: white;
    gap: 2px;
    margin-top: 2px;
}

.Header .buttons {
    display: flex;
    font-size: 5px;
    margin: 0px 18px;
    gap: 6px;
    color: white;
    margin-top: 2px;
}

.Header .part-2 {
    display: flex;
    font-size: 4px;
    background-color: darkblue;
    color: white;
    padding: 4px 8px;
    align-items: center;
}

.Header .part-2 .bar {
   align-items: center;
   display: flex;
   gap: 2px;
}

.Header .part-2 .bar i {
    font-size: 5px;
}

.Header .part-2 .bar p {
    font-size: 4px;
}

.Header .part-2 ul {
    list-style: none;
    display: flex;
    text-align: center;
    gap: 6px;
    margin: 0px 10px;
}

.Header .part-2 li {

}

.Header .part-2 .call-info {
    margin-left: 15px;
}